= image_tag @pin.image.url(:medium) 
%h1= @pin.title
%p= @pin.description
- unless @pin.user == nil
	%p
	Submitted by
	= @pin.user.email
%br

= link_to "Back", root_path
= link_to "Edit", edit_pin_path
= link_to "Delete", root_path, method: :delete, data: { confirm: "Are you sure" }